body {
  background-color: #fefecc;
}
hr{

  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  height: 0px;
  width:10%;
}
h1,h3{
  color:#ff7b54;
}
.hov:hover{
  color:#e1701a;
  background-color:#c6ffc1;

}
.hov{
  text-decoration: none;
  color: #e1701a;
}
